body { overflow-x: hidden; font-weight: 300; background-color: #004d40; }
p { font-size: 20px; margin-bottom: 1em; }
p.small { font-size: 16px; }

hr { border-top: 3px solid #fff; width: 200px; }
.even hr { border-color: #2b3e50; }

ul { padding-left: 20px; }
li { font-size: 20px; }

@media (min-width: 1200px) {
    .text-left-md { text-align: left; }
    .text-center-md { text-align: center; }
    .text-right-md { text-align: right; }
}

.spacer { margin-bottom: 1em; }
.about-desc { margin-bottom: 1em; }
.btn-success { background-color: #fff; border-color: #fff; }

.navbar-default { background-color: rgba(0,0,0,0.5); /*background-color: #009688;*/ }
.navbar-default .navbar-nav > li > a { font-size: 13px; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus { 
  color: #fff; background-color: #00796b;
}
.navbar-brand { margin-top: -5px; }
.navbar-brand > img { display: inline; margin-right: 5px; width: 30px; }

.fa.fa-white, .mdi.mdi-white { color: #eee; text-shadow: 0 0 5px rgba(0,0,0,0.5); font-size: 250px; }
.fa.fa-dark, .mdi.mdi-green { color: #004d40; text-shadow: 0 0 2px rgba(0,0,0,0.5); font-size: 200px; }

.mdi-bank:before { font-size: 50px; }
.mdi-big:before { font-size: 250px; }

.donate-row { display: flex; }
.donate-icon { display: inline-block; min-width: 70px; text-align: center; }
.donate-icon img { max-height: 40px; }
.donate-address { font-size: 1.7rem; word-wrap: anywhere; }

.news-container { margin-top: 75px; }
.news-article { display: block; text-align: left; padding: 2rem 3rem; margin-bottom: 3rem; background-color: rgba(255,255,255,0.1); }
.news-article:hover, .news-article:active, .news-article:focus { text-decoration: none; opacity: 0.8; }
.news-article h3 { font-size: 3rem; }
.news-date { margin-bottom: 1rem; }

.select-address { user-select: all; }

.more-accounts { text-align: center; }

a.text-link {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

a, a:hover, a:focus, a:active, a.active {
  outline: 0;
  color: #fff;
  /*font-weight: 300;*/
  text-decoration-style: solid;
}
.navbar-right a { font-weight: 500; }

.btn {}
.btn-default { background-color: rgba(0,0,0,0.75); }
.btn-default:hover, .btn-default:focus, .btn-default:active { background-color: rgba(0, 121, 107, 0.75); }

h1, h2 { font-weight: 300; }
h3, h4, h5, h6 { font-weight: 500; }

header {
  color: #fff;
  background: #000 url('../img/parliament_blur.jpg') center top no-repeat;
  height: 630px;
}

.intro-buttons .btn { margin: 0 5px 5px 0; }

.header-container { padding-top: 125px; }

.header-container img {
  display: block;
  opacity: 0.9;
  margin: 0 auto 15px;
  padding: 10px;
  background-color: rgba(189, 189, 189, 0.75);
  border-radius: 100px;
  box-shadow: 0px 0px 5px rgba(189,189,189,0.5);
}

header .intro-text { text-align: right; }

header .intro-text .slogan {
    font-size: 2em;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    margin: 0;
}

header .intro-text .skills {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.75);
    max-width: 700px;
    margin: 1.5em 0 1em 0;
}

@media(min-width:768px) {
    .navbar-brand > img { width: 40px; }
    
    .header-container { padding-top: 225px; }
    header .intro-text .slogan { font-size: 3em; }
    header .intro-text .skills { font-size: 1.5em; }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #2b3e50;
    background: #fff;
}

section.success a,
section.success a:hover,
section.success a:focus,
section.success a:active,
section.success a.active {
    outline: 0;
    color: #2c3e50;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }

    section.first {
        padding-top: 75px;
    }
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(58,135,94,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #2b3e50;
    background: #fff;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #eee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #2b3e50;
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eee;
}

footer { color: #fff; }
footer h3 { margin-bottom: 30px; }
footer .footer-above { padding-top: 50px; background-color: #004d40; }
footer .footer-col { margin-bottom: 50px; }
footer .footer-below { padding: 25px 0; background-color: #004d40; }

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.snackbar-clipboard {
    display: none;
    position: fixed;
    z-index: 1050;
    bottom: 25px;
    right: 0;
    left: 0;
    text-align: center;
}

.snackbar-clipboard span {
    display: inline-block;
    padding: 15px 30px;
    background-color: #df691a;
    font-weight: 500;
    font-size: 2.5rem;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    border-radius: 2px;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
}

.scroll-top .btn:focus {
    outline: 0;
}

#team .team-members {
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

#team .team-img {
    margin-bottom: 1.5rem;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1)
}

#team .team-linked {
    font-size: 15px;
}
